<div class="info-input" style="flex:100%">
    <%- include('./usernavigation.ejs') %>
    <h2 class="parents-title" style="flex:100%">Parents/Guardian</h2>

    <table class="parents-guardian">
        <tr>
            <th>Parent</th>
            <th>Name</th>
            <th>Occupation</th>
            <th>Office</th>
            <th>Contact Number</th>
            <th>Email Address</th>
        </tr>
        <tr class="mother-info">
            <td>Mother</td>
            <td><input style="width: 100%;" type="text" class="mothername" name="mothername" placeholder="Name of Mother" value="<%= locals.parents ? parents[0].name : null %>"></td>
            <td><input style="width: 100%;" type="text" class="motheroccupation" name="motheroccupation" placeholder="Occupation" value="<%= locals.parents ? parents[0].occupation : null %>"></td>
            <td><input style="width: 100%;" type="text" class="motheroffice" name="motheroffice" placeholder="Office" value="<%= locals.parents ? parents[0].office : null %>"></td>
            <td><input style="width: 100%;" type="number" class="mothercontact" name="mothercontact" placeholder="Contact Number" value="<%= locals.parents ? parents[0].contact : null %>"></td>
            <td><input style="width: 100%;" type="text" class="motheremail" name="motheremail" placeholder="Email Address" value="<%= locals.parents ? parents[0].email : null %>"></td>
        </tr>
        <tr class="father-info">
            <td>Father</td>
            <td><input style="width: 100%;" type="text" class="fathername" name="fathername" placeholder="Name of Father" value="<%= locals.parents ? parents[1].name : null %>"></td>
            <td><input style="width: 100%;" type="text" class="fatheroccupation" name="fatheroccupation" placeholder="Occupation" value="<%= locals.parents ? parents[1].occupation : null %>"></td>
            <td><input style="width: 100%;" type="text" class="fatheroffice" name="fatheroffice" placeholder="Office" value="<%= locals.parents ? parents[1].office : null %>"></td>
            <td><input style="width: 100%;" type="number" class="fathercontact" name="fathercontact" placeholder="Contact Number" value="<%= locals.parents ? parents[1].contact : null %>"></td>
            <td><input style="width: 100%;" type="text" class="fatheremail" name="fatheremail" placeholder="Email Address" value="<%= locals.parents ? parents[1].email : null %>"></td>
        </tr>
        <tr class="guardian-info">
            <td>Guardian</td>
            <td><input style="width: 100%;" type="text" class="guardian" name="guardian" placeholder="Name of Guardian" value="<%= locals.parents ? parents[2].name : null %>"></td>
            <td><input style="width: 100%;" type="text" class="guardianoccupation" name="guardianoccupation" placeholder="Occupation" value="<%= locals.parents ? parents[2].occupation : null %>"></td>
            <td><input style="width: 100%;" type="text" class="guardianoffice" name="guardianoffice" placeholder="Office" value="<%= locals.parents ? parents[2].office : null %>"></td>
            <td><input style="width: 100%;" type="number" class="guardiancontact" name="guardiancontact" placeholder="Contact Number" value="<%= locals.parents ? parents[2].contact : null %>"></td>
            <td><input style="width: 100%;" type="text" class="guardianemail" name="guardianemail" placeholder="Email Address" value="<%= locals.parents ? parents[2].name : null %>"></td>
        </tr>
    </table>
</div>