<!DOCTYPE html>
<%- include('./partials/head.ejs') %>

<body>
    
    <div class="dashboard-main-container">
        <%- include('./partials/navigation.ejs') %>
        <div class="dashboard-subcontainer">
            <%- include('./partials/usernavigation.ejs') %>
            <h2 class="dashboard-title">School Management Dashboard</h2>
            <div class="dashboard-main-content">
                <div class="dashboard-titles">
                        <div class="names1">
                            <h3><i class="fas fa-user-graduate"></i>Students</h3>
                            <div class="counter" data-target="<%= studentsNum %>">0</div>
                        </div>
                        <div class="names2">
                            <h3><i class="fas fa-user-tie"></i>Parents / Guardians</h3>
                            <div class="counter" data-target="<%= parentsNum %>">0</div>
                        </div>
                        <div class="names3">
                            <h3><i class='fas fa-book-reader'></i>Sections</h3>
                            <div class="counter" data-target="<%= sectionsNum %>">0</div>
                        </div>
                        <div class="names4">
                            <h3><i class='fas fa-book-reader'></i>Test</h3>
                            <div class="counter" data-target="10870">0</div>
                        </div>
                </div>
                <div class="dashboard-chart">   
                    <div class="chart-container">
                        <canvas id="doughnut-chart" class="chart"></canvas>
                    </div>
                    <div class="chart-container">
                        <canvas id="bar-chart" class="chart"></canvas>
                    </div>  
                </div> 

                <!-- <div class="empty-container">
                    <canvas id="line-chart" class="chart"></canvas>
                </div> -->
                
                <div class="social-media-container">
                        <div class="social-media-one">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="socmeds" for="facebook">Facebook</a>
                        </div>
                        <div class="social-media-two">
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="socmeds" for="twitter">Twitter</a>                   
                        </div>
                        <div class="social-media-three">
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="socmeds" for="youtube">Youtube</a>
                        </div>
                        <div class="social-media-four">
                            <a href="#" class="fa fa-instagram"></a>       
                            <a href="#" class="socmeds" for="instagram">Instagram</a>                                               
                        </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/scripts/charts.js"></script>
    <script src="/scripts/dashboard.js"></script>
</body>
</html>