<!DOCTYPE html>
<%- include('./partials/head.ejs') %>

<body>
    
    <div class="dashboard-main-container">
        <%- include('./partials/navigation.ejs') %>
        <div class="dashboard-subcontainer">
            <h1 class="dashboard-title">School Management Dashboard</h1>
            <div class="dashboard-main-content">
                <div class="dashboard-titles">
                        <div class="names1">
                            <h3><i class="fas fa-user-graduate"></i>Students</h3>
                            <div class="counter" data-target="<%= studentsNum %>">0</div>
                        </div>
                        <div class="names2">
                            <h3><i class="fas fa-user-tie"></i>Parents / Guardians</h3>
                            <div class="counter" data-target="<%= parentsNum %>">0</div>
                        </div>
                        <div class="names3">
                            <h3><i class='fas fa-book-reader'></i>Sections</h3>
                            <div class="counter" data-target="<%= sectionsNum %>">0</div>
                        </div>
                        <div class="names4">
                            <h3><i class='fas fa-book-reader'></i>Sections</h3>
                            <div class="counter" data-target="<%= sectionsNum %>">0</div>
                        </div>
                </div>
                <div class="dashboard-chart">   
                    <div class="chart-container">
                        <canvas id="doughnut-chart" class="chart"></canvas>
                    </div>
                    <div class="chart-container">
                        <canvas id="bar-chart" class="chart"></canvas>
                    </div>  
                </div> 

                <div class="empty-container">
                    <canvas id="line-chart" class="chart"></canvas>
                </div>
                
                <div class="four-containers">
                    <div class="container-one">
                        <h1>Text Here</h1>
                    </div>
                    <div class="container-two">
                        <h1>Text Here</h1>
                    </div>
                    <div class="container-three">
                        <h1>Text Here</h1>
                    </div>
                    <div class="container-four">
                        <div class="social-media-one">
                            <a href="#" class="fa fa-facebook"></a>
                            <span>Facebook</span>
                            <a class="facebook-btn" href="#">Go Now</a>
                        </div>
                        <div class="social-media-two">
                            <a href="#" class="fa fa-twitter"></a>
                            <span>Twitter</span>
                            <a class="twitter-btn" href="#">Go Now</a>
                        </div>
                        <div class="social-media-three">
                            <a href="#" class="fa fa-youtube"></a>
                            <span>Youtube</span>
                            <a class="youtube-btn" href="#">Go Now</a>
                        </div>
                        <div class="social-media-four">
                            <a href="#" class="fa fa-google"></a>
                            <span>Google+</span>
                            <a class="google-btn" href="#">Go Now</a>
                        </div>
                    </div>
                </div>

            </div>
            

        </div>
    </div>
    <script src="scripts/charts.js"></script>
    <script src="/scripts/dashboard.js"></script>
</body>
</html>