<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="parents-form-container">
        <%- include('./partials/navigation.ejs') %>
            <div class="parents-table-container">
                <%- include('./partials/usernavigation.ejs') %>
            <h1 class="parents-title">Parents</h1>  
                <div class="parents-table-subcontainer">
                    <div class="parents-main-table">
                       <center> 
                            <table class="parents-table">
                                <tr>
                                    <th>ID</th>
                                    <th>Mother Name</th>
                                    <th>Father Name</th>
                                    <th>Guardian</th>
                                    <th>Related Students</th>
                                    <th>Action/s</th>
                                </tr>
                                
                                <% for(let x = 0; x < idNum.length; x++) { %>
                                    <tr>
                                        <td><%= idNum[x] %></td>
                                        <% parentNames[x].forEach(parent => { %>
                                            <td><%= parent %></td>
                                        <% }) %>
                                        <td><%= studentNames[x] %></td>
                                        <td><a class="edit-parent" href="/parents/<%= idNum[x] %>">Edit Info</a></td>
                                    </tr>
                                    
                                <% } %>
                                
                            </table>
                        </center>
                </div>
            </div>
        </div>
    </div>
</body>
</html>