<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <div class="section-main">
        <%- include('./partials/navigation.ejs') %>

        <div class="section-sub">
            <form class="section-form" action="/section" method="POST">
                <%- include('./partials/usernavigation.ejs')%>
                <h2 class="section-title">Add Section</h2>
                <div class="section-form">
                    <label for="sectionName">Name of Section:</label>
                    <input type="text" name="sectionName" id="sectionName">
                    
                    <button class="add-section">Add Section</button>
                </div>
                <div class="section-name-container">
                    <table class="section-table">
                        <tr>
                            <th>Section</th>
                            <th>Students</th>
                            <th>Adviser</th>
                            <th style="width:300px;">Action</th>
                        </tr>
                <% sections.forEach(sect => { %>
                   
                        <tr>
                            <td><%= sect.name %></td>
                            <td></td>
                            <td></td>
                            <td><button type="button" class="delete-button" data-_id="<%= sect.id %>">Delete</button></td>
                        </tr>
                <% }) %> 
            </table>
            </div>
            </form>
        </div>
    </div>

    <script>
        const deleteButtons = document.querySelectorAll('.delete-button')

        deleteButtons.forEach(button => {
            button.addEventListener('click', () => {
                fetch(`/section/${button.dataset._id}`, {
                method: "DELETE"
                })
                .then(() => location.reload())
                .catch(err => console.log(err))
            })
        })

    </script>
    
</body>
</html>