<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <div class="student-record-table-container">

        <%- include('./partials/navigation.ejs') %>
        <div class="student-record-table-form">
             
            <h1 class="student-record-title">Student Record Table</h1>
            <div class="student-record-table-subcontainer">
            <div class="student-search-div">
                <div class="search-div">
                    <label for="search-fname">First Name</label>
                    <input type="text" class="search-fname">
                </div>
                <div class="search-div">
                    <label for="search-lname">Last Name</label>
                    <input type="text" class="search-lname">
                    
                </div>
                <div class="search-div">
                    <button type="button" class="search">Search</button>
                    <button type="button" class="refresh">Refresh List</button>
                </div>

                <select class="school-year">
                    <option disabled selected>Select School Year</option>
                    <option value="21-22">2021-2022</option>
                    <option value="22-23">2022-2023</option>
                </select>
            </div>  
                
                <table class="student-records">
                    <tr>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Grade/Level</th>
                        <th>Section</th>
                        <th>Department</th>
                        <th>LRN</th>
                        <th>Verified</th>
                        <th>Actions</th>
                    </tr>
                    
                    <% for(let x = 0;x < record.length ; x++) { %>
                        <tr class="data-rows">
                            <td><%= record[x].firstname %></td>
                            <td><%= record[x].middlename %></td>
                            <td><%= record[x].lastname %></td>
                            <td><%= record[x].grade.title %></td>
                            <td><%= record[x].section.name %></td>
                            <td><%= record[x].department.name %></td>
                            <td><%= record[x].lrn %></td>
                            <td><%= record[x].verified %></td>
                            <td>
                                <a href="/student-record/<%= record[x]._id %>">View Entry</a>
                            </td>
                        </tr>
                    <% } %>
                </table>
                <a class="add-student" href="/student-record/submit"><button>Add Student</button></a>
            </div>
           

        </div>
    </div>   

    <script>
        const search = document.querySelector('.search')
        const refresh = document.querySelector('.refresh')
        const studentTable = document.querySelector('.student-records')
        const fname = document.querySelector('.search-fname')
        const lname = document.querySelector('.search-lname')

        
        const schoolYear = document.querySelector('.school-year')

        const records = '<%- JSON.stringify(record) %>'
        const recordsData = JSON.parse(records)

        //filter data based on sy

        schoolYear.addEventListener('change', e => {
            const dataRows = document.querySelectorAll('.data-rows')
            const selectedByYear = recordsData.filter(student => student.syEnrolled.includes(e.target.value))

            dataRows.forEach(tr => {
                console.log('working')
                tr.remove()
            })

            console.log(selectedByYear)

            selectedByYear.forEach(rec => {

                const data = (category) => category.find(categ => Object.values(categ).includes(e.target.value)).data

                const tr = document.createElement('tr')
                tr.classList.add("data-rows");
                const info = [rec.firstname, rec.middlename, rec.lastname, data(rec.grade).title, data(rec.section).name, data(rec.department).name, rec.lrn, rec.verified]

                for(let x = 0; x < 9; x++) {
                    const td = document.createElement('td')

                    if (x <= 7){
                        const text = document.createTextNode(info[x])
                        td.appendChild(text)
                    } else {
                        const a = document.createElement('a')
                        const text = document.createTextNode('View Entry')
                        a.appendChild(text)
                        a.href = `/student-record/${rec._id}`
                        td.appendChild(a)
                    }
                    
                    tr.appendChild(td)
                }
                studentTable.appendChild(tr)
            })
        })

        //

        refresh.addEventListener('click', () => {
            location.reload()
        })

        search.addEventListener('click', () => {
            const fnameRegex = new RegExp(`^${fname.value}$`,'i')
            const lnameRegex = new RegExp(`^${lname.value}$`,'i')
            const data = document.querySelectorAll('.data-rows')

            // button does nothing if search box is empty

            if (fname.value === '' && lname.value === ''){
                return null;
            }

            //clears current displayed data to be replaced by search query results

            data.forEach(tr => {
                console.log('working')
                tr.remove()
            })

            //filters the records database based on the user query

            const filteredRecords = recordsData.filter(rec => {

                if (fname.value !== '' && lname.value === '') {
                    return fnameRegex.test(rec.firstname)
                } else if (fname.value === '' && lname.value !== '') {
                    return lnameRegex.test(rec.lastname)
                }
                return fnameRegex.test(rec.firstname) && lnameRegex.test(rec.lastname)
            })

            //display the search results for user viewing
            
            filteredRecords.forEach(rec => {
                const tr = document.createElement('tr')
                tr.classList.add("data-rows");
                const info = [rec.firstname, rec.middlename, rec.lastname, rec.grade.title, rec.section.name, rec.department.name, rec.lrn, rec.dob]

                for(let x = 0; x < 8; x++) {
                    const td = document.createElement('td')

                    if (x <= 6){
                        const text = document.createTextNode(info[x])
                        td.appendChild(text)
                    } else {
                        const a = document.createElement('a')
                        const text = document.createTextNode('View Entry')
                        a.appendChild(text)
                        a.href = `/student-record/${rec._id}`
                        td.appendChild(a)
                    }
                    
                    tr.appendChild(td)
                }
                studentTable.appendChild(tr)
            })
        })
        
    </script>
</body>
</html>