<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>    
    <div class="student-record-parent">
        <%- include('./partials/navigation.ejs') %>

        <div class="student-record-form">
            <h1 class="student-record-title">Student Record Management</h1>

            <div class="student-record-subcontainer">
                <!-- <form class="student-record-subcontainer-side">

                    <h2>Search for Student</h2>

                    <div>
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstname" class="name" placeholder="Enter First Name">
                    </div>

                    <div>
                        <label for="lastname">Last Name</label>
                        <input type="text" name="lastname" class="last" placeholder="Enter Last Name">
                    </div>

                    <button>Search</button>

                    <div class="search-results">

                    </div>
                </form> -->

                <form action="/student-record" method="POST" class="student-record-subcontainer-info">

                    <div class="student-record-subcontainer-body">
                        <div class="info-input">
                            <label for="department">Department</label><br>
                            <select name="department" id="department" required>
                                <option value="" disabled selected>Select Department</option>
                                <% depts.forEach(dept => { %>
                                    <option value='<%= dept._id %>'><%= dept.name %></option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="info-input">
                            <label for="lrn">LRN</label><br>
                            <input type="number" name="lrn" placeholder="Enter LRN" required>
                        </div>

                        <div class="info-input">
                            <label for="grade">Grade/Level</label><br>
                            <select name="grade" id="grade" required>
                                <option value="" disabled selected>Select Grade/Level</option>
                                <% grades.forEach(grade => { %>
                                    <option value='<%= grade._id %>'><%= grade.title %></option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="info-input">
                            <label for="section">Section</label><br>
                            <select name="section" id="section" required>
                                <option value="" disabled selected>Select Section</option>
                            </select>
                        </div>

                        <h2 class="personal-title">Personal Information</h2>

                        <div class="info-input">
                            <label for="lastname">Last Name</label><br>
                            <input type="text" name="lastname" placeholder="Enter Last Name" required>
                        </div>

                        <div class="info-input">
                            <label for="dob">Date of Birth</label><br>
                            <input type="date" name="dob" placeholder="Enter Date of Birth" required>
                        </div>

                        <div class="info-input">
                            <label for="firstname">First Name</label><br>
                            <input type="text" name="firstname" placeholder="Enter First Name" required>
                        </div>

                        <div class="info-input">
                            <label for="birthplace">Place of Birth</label><br>
                            <input type="text" name="birthplace" placeholder="Enter Place of Birth" required>
                        </div>

                        <div class="info-input">
                            <label for="middlename">Middle Name</label><br>
                            <input type="text" name="middlename" placeholder="Enter Middle Name" required>
                        </div>

                        <div class="info-input">
                            <label for="religion">Religion</label><br>
                            <input type="text" name="religion" placeholder="Enter Religion" required>
                        </div>

                        <div class="info-input" style="flex: 100%;">
                            <label for="address">Complete Address</label><br>
                            <input type="text" name="address" style="width: 88%" placeholder="Enter Complete Address" required>
                        </div>

                        <div class="info-input">
                            <label for="nationality">Nationality</label><br>
                            <input type="text" name="nationality" placeholder="Enter Nationality" required>
                        </div>

                        <div class="radio-input">
                            <p>Gender:</p>
                            <input type="radio" id="male" name="gender" value="male" required>
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label>
                        </div>

                        <div class="info-input">
                            <label for="mobile">Mobile Number</label><br>
                            <input type="number" name="mobile" min="0" placeholder="Enter Mobile Number" required>
                        </div>

                        <div class="info-input">
                            <label for="email">Email Address</label><br>
                            <input type="email" name="email" placeholder="Enter Email Address" required>
                        </div>

                        <h2 class="parents-title" style="flex:100%">Parents/Guardian</h2>

                        <div class="info-input" style="flex:100%">
                            <table class="parents-guardian">
                                <tr>
                                    <th>Name</th>
                                    <th>Occupation</th>
                                    <th>Office</th>
                                    <th>Contact Number</th>
                                    <th>Email Address</th>
                                </tr>
                                <tr>
                                    <td><input style="width: 100%;" type="text" name="mothername" placeholder="Name of Mother" ></td>
                                    <td><input style="width: 100%;" type="text" name="motheroccupation" placeholder="Occupation" ></td>
                                    <td><input style="width: 100%;" type="text" name="motheroffice" placeholder="Office" ></td>
                                    <td><input style="width: 100%;" type="number" name="mothercontact" placeholder="Contact Number" ></td>
                                    <td><input style="width: 100%;" type="text" name="motheremail" placeholder="Email Address" ></td>
                                </tr>
                                <tr>
                                    <td><input style="width: 100%;" type="text" name="fathername" placeholder="Name of Father" ></td>
                                    <td><input style="width: 100%;" type="text" name="fatheroccupation" placeholder="Occupation" ></td>
                                    <td><input style="width: 100%;" type="text" name="fatheroffice" placeholder="Office" ></td>
                                    <td><input style="width: 100%;" type="number" name="fathercontact" placeholder="Contact Number" ></td>
                                    <td><input style="width: 100%;" type="text" name="fatheremail" placeholder="Email Address" ></td>
                                </tr>
                                <tr>
                                    <td><input style="width: 100%;" type="text" name="guardian" placeholder="Name of Guardian" ></td>
                                    <td><input style="width: 100%;" type="text" name="guardianoccupation" placeholder="Occupation" ></td>
                                    <td><input style="width: 100%;" type="text" name="guardianoffice" placeholder="Office" ></td>
                                    <td><input style="width: 100%;" type="number" name="guardiancontact" placeholder="Contact Number" ></td>
                                    <td><input style="width: 100%;" type="text" name="guardianemail" placeholder="Email Address" ></td>
                                </tr>
                            </table>
                          
                                
                        </div>
                        <button>Submit</button>

                    </div>

                    
                </form>

            </div>
        </div>
    </div>

    <script>

        const sections = '<%- JSON.stringify(sections) %>'
        const sectionsArray = JSON.parse(sections)
        
        const sectionSelect = document.getElementById('section')
        const searchResults = document.querySelector(".search-results")
        const results = '<%- JSON.stringify(record) %>'
        const resultsArray = JSON.parse(results)

        sectionsArray.forEach(section => {
            const opt = document.createElement("option")
            opt.text = section.name
            opt.setAttribute('value', section._id) 
            sectionSelect.add(opt)
        })

        if (Array.isArray(resultsArray)) {
            resultsArray.forEach(result => {
            const a = document.createElement('a')
            const link = document.createTextNode(`${result.firstname} ${result.lastname}`)
            a.appendChild(link)
            a.href = `/student-record/${result._id}`
            searchResults.appendChild(a)
        })
        }             
    </script>
    
</body>
</html>