<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>    
    <div class="student-record-parent">
        <%- include('./partials/navigation.ejs') %>

        <div class="student-record-form">
            <h1 class="student-record-title">Student Record Management</h1>

            <div class="student-record-subcontainer">

                <form action="<%= url %>?_method=PUT" method="POST" class="student-record-subcontainer-info">

                    <div class="student-record-subcontainer-body">
                        <div class="info-input">
                            <label for="department">Department</label><br>
                            <select name="department" id="department" required>
                                <option value="" disabled selected>Select Department</option>
                                <% depts.forEach(dept => { %>
                                    <% const isDeptSelected = dept.name === student.department.name ? 'selected' : null %> 
                                    <option value='<%= dept._id %>' <%= isDeptSelected %>><%= dept.name %></option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="info-input">
                            <label for="lrn">LRN</label><br>
                            <input type="number" name="lrn" value='<%= student.lrn %>' required>
                        </div>

                        <div class="info-input">
                            <label for="grade">Grade/Level</label><br>
                            <select name="grade" id="grade" required>
                                <option value="" disabled selected>Select Grade/Level</option>
                                <% grades.forEach(grade => { %>
                                    <% const isGradeSelected = grade.title === student.grade.title ? 'selected' : null %> 
                                    <option value='<%= grade._id %>' <%= isGradeSelected %>><%= grade.title %></option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="info-input">
                            <label for="section">Section</label><br>
                            <select name="section" id="section" required>
                                
                            </select>
                        </div>

                        <h2 class="personal-title" style="flex: 100%;">Personal Information</h2>

                        <div class="info-input">
                            <label for="lastname">Last Name</label><br>
                            <input type="text" name="lastname" value='<%= student.lastname %>' required>
                        </div>

                        <div class="info-input">
                            <label for="dob">Date of Birth</label><br>
                            <input type="date" name="dob" value='<%= student.dob %>' required>
                        </div>

                        <div class="info-input">
                            <label for="firstname">First Name</label><br>
                            <input type="text" name="firstname" value='<%= student.firstname %>' required>
                        </div>

                        <div class="info-input">
                            <label for="birthplace">Place of Birth</label><br>
                            <input type="text" name="birthplace" value='<%= student.birthplace %>' required>
                        </div>

                        <div class="info-input">
                            <label for="middlename">Middle Name</label><br>
                            <input type="text" name="middlename" value='<%= student.middlename %>' required>
                        </div>

                        <div class="info-input">
                            <label for="religion">Religion</label><br>
                            <input type="text" name="religion" value='<%= student.religion %>' required>
                        </div>

                        <div class="info-input" style="flex: 100%;">
                            <label for="address">Complete Address</label><br>
                            <input type="text" name="address" style="width: 80%" value='<%= student.address %>' required>
                        </div>

                        <div class="info-input">
                            <label for="nationality">Nationality</label><br>
                            <input type="text" name="nationality" value='<%= student.nationality %>' required>
                        </div>

                        <div class="radio-input">
                            <p>Gender:</p>
                            <input type="radio" id="male" name="gender" value="male" required>
                            <label for="male">Male</label>
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label>
                        </div>

                        <div class="info-input">
                            <label for="mobile">Mobile Number</label><br>
                            <input type="number" name="mobile" min="0" value='<%= student.mobile %>' required>
                        </div>

                        <div class="info-input">
                            <label for="email">Email Address</label><br>
                            <input type="email" name="email" value='<%= student.email %>' required>
                        </div>

                        <button>Update</button>
                        <input class="delete-student" type="submit" value="Delete" formaction="<%= url %>?_method=DELETE">
                    </div>

                    
                </form>

            </div>
        </div>
    </div>

    <script>
        const sections = '<%- JSON.stringify(sections) %>'
        const sectionsArray = JSON.parse(sections)

        const studentTemp = '<%- JSON.stringify(student) %>'
        const studentData = JSON.parse(studentTemp)

        const male = document.getElementById('male')
        const female = document.getElementById('female')

        const sectionSelect = document.getElementById('section')

        sectionsArray.forEach(section => {

            const opt = document.createElement("option")
            opt.text = section.name
            opt.value = section._id
            if (section.name === studentData.section.name){
                opt.selected = true;
            }

            sectionSelect.add(opt)
        })

        console.log(studentData.gender)

        if (male.value === studentData.gender) {
            male.checked = true
        } else {
            female.checked = true
        }


    </script>
    
</body>
</html>