<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>    
    <div class="student-record-parent">
        <%- include('./partials/navigation.ejs') %>

        <div class="student-record-form">
            <%- include('./partials/usernavigation.ejs') %>

            <h1 class="student-record-title">Student Record Management</h1>

            <div class="student-record-subcontainer">

                <form action="<%= url %>?_method=PUT" method="POST" class="student-record-subcontainer-info">
                <div class="user-profile">
                    <div class="user-image">
                        <div class="school-year-input">
                            <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" alt="profile">
                        </div>
                    </div>
                    <div class="school-year-info">
                        <div class="school-year-input">              
                            <label for="sy">School Year</label>
                            <select name="sy" class="sy">
                                <option value="21-22" selected>2021-2022</option>
                                <option value="22-23">2022-2023</option>
                            </select>                       
                        </div>
                        <div class="school-year-input">    
                            <label for="department">Department</label><br>
                            <select name="department" id="department" required>
                                <option value="" disabled selected>Select Department</option>
                                <% depts.forEach(dept => { %>
                                    <% const isDeptSelected = dept.name === student.department.name ? 'selected' : null %> 
                                    <option value='<%= dept._id %>' <%= isDeptSelected %>><%= dept.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="school-year-input">   
                            <label for="lrn">LRN</label><br>
                            <input class="lrn" type="number" name="lrn" value='<%= student.lrn %>' required>
                        </div>
                        <div class="school-year-input">   
                            <label for="grade">Grade/Level</label><br>
                            <select name="grade" id="grade" required>
                                <option value="" disabled selected>Select Grade/Level</option>
                                <% grades.forEach(grade => { %>
                                    <% const isGradeSelected = grade.title === student.grade.title ? 'selected' : null %> 
                                    <option value='<%= grade._id %>' <%= isGradeSelected %>><%= grade.title %></option>
                                <% }) %>
                            </select>
                        </div>
                    
                    <div class="school-year-input">   
                        <label for="section">Section</label><br>
                        <select name="section" id="section" required>
                            <% sections.forEach(section => { %>
                                <option value="<%= section._id %>"><%= section.name %></option>
                            <% }) %>
                            
                        </select>
                    </div>
                </div>

                    <div class="student-record-subcontainer-body">
                      
                        <h2 class="personal-title" style="flex: 100%;">Personal Information</h2>

                        <div class="info-input">
                            <label for="lastname">Last Name</label><br>
                            <input type="text" name="lastname" value='<%= student.lastname %>' required>
                        </div>

                        <div class="info-input">
                            <label for="dob">Date of Birth</label><br>
                            <input type="date" name="dob" value='<%= student.dob %>' required>
                        </div>

                        <div class="info-input">
                            <label for="firstname">First Name</label><br>
                            <input type="text" name="firstname" value='<%= student.firstname %>' required>
                        </div>

                        <div class="info-input">
                            <label for="birthplace">Place of Birth</label><br>
                            <input type="text" name="birthplace" value='<%= student.birthplace %>' required>
                        </div>

                        <div class="info-input">
                            <label for="middlename">Middle Name</label><br>
                            <input type="text" name="middlename" value='<%= student.middlename %>' required>
                        </div>

                        <div class="info-input">
                            <label for="religion">Religion</label><br>
                            <input type="text" name="religion" value='<%= student.religion %>' required>
                        </div>

                        <div class="info-input" style="flex: 100%;">
                            <label for="address">Complete Address</label><br>
                            <input type="text" name="address" style="width: 80%" value='<%= student.address %>' required>
                        </div>

                        <div class="info-input">
                            <label for="mobile">Mobile Number</label><br>
                            <input type="number" name="mobile" min="0" value='<%= student.mobile %>' required>
                        </div>

                        <div class="info-input">
                            <label for="email">Email Address</label><br>
                            <input type="email" name="email" value='<%= student.email %>' required>
                        </div>

                        <div class="info-input">
                            <label for="nationality">Nationality</label><br>
                            <input type="text" name="nationality" value='<%= student.nationality %>' required>
                        </div>

                        <div class="radio-input">
                            <div class="gender-container">
                                <p>Gender:</p>
                                <input type="radio" id="male" name="gender" value="male">
                                <label for="male">Male</label>
                                <input type="radio" id="female" name="gender" value="female">
                                <label for="female">Female</label>
                            </div>
                            <div class="verified-container">
                                <p>Verified:</p>
                                <input type="checkbox" name="verified" class="verified-box">
                            </div>
                        </div>

                        <button>Update</button>
                        <input class="delete-student" type="submit" value="Delete" formaction="<%= url %>?_method=DELETE">
                    </div>

                    
                </form>

            </div>
        </div>
    </div>

    <script>

        const studentTemp = '<%- JSON.stringify(student) %>'
        const studentData = JSON.parse(studentTemp)

        const male = document.getElementById('male')
        const female = document.getElementById('female')

        const sectionSelect = document.getElementById('section')

        const department = document.getElementById('department')
        const grade = document.getElementById('grade')
        const section = document.getElementById('section')
        const sy = document.querySelector('.sy')

        sy.addEventListener('change', e => {
            if (studentData.syEnrolled.includes(e.target.value)) { 

                const getInfo = (category, details) => {
                    const data = category.find(categ => Object.values(categ).includes(e.target.value)).data._id

                    Array.from(details.options).forEach(det => {
                        if (det.value === data) {
                            det.selected = true
                        }
                    })
                }
                getInfo(studentData.department, department)
                getInfo(studentData.grade, grade)
                getInfo(studentData.section, section)
            }

        })

        // sectionsArray.forEach(section => {

        //     const opt = document.createElement("option")
        //     opt.text = section.name
        //     opt.value = section._id
        //     if (section.name === studentData.section.name){
        //         opt.selected = true;
        //     }

        //     sectionSelect.add(opt)
        // })

        if (male.value === studentData.gender) {
            male.checked = true
        } else {
            female.checked = true
        }


    </script>
    
</body>
</html>